<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>
<h3 id="form_header">Sign In</h3>
<%= form_tag do %>
  <div class="field form-group">
    <%= label_tag :name, 'Name:' %>
    <%= text_field_tag :name, params[:name], :class => "form-control"  %>
  </div>

  <div class="field form-group">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password], :class => "form-control"  %>
  </div>
  <div class="actions">
    <input class="btn btn-success" name="commit" type="submit" value="Login">
  </div>
<% end %>