<div class="welcome">
  <h3>Check out the weather right now in all your favorite vacation spots!</h3>
  <p>Keep a log of all your favorite places. Where did you go on your last holiday? Where did you go to college? Where did you grow up?</p>
  <p>See what the weather is like right now in any of them!</p>
</div>
<div class="buttons">
  <% if current_user %>
    <%= link_to 'My Places', places_url, :class => "action-button shadow animate blue" %>
    <%= link_to 'Add Place', new_place_url, :class => "action-button shadow animate blue" %>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-10">
    <div class="place">
      <h3>
        Random Place Preview! <%= @random_place.location %>
      </h3>

      <%= image_tag(@random_place.image_url, :class => 'list_image img-fluid') %>

      <p>
        <strong>Visit length:</strong>
        <%= @random_place.visit_length %>
      </p>

      <p>
        <strong>Favorite memory:</strong>
        <%= @random_place.favorite_memory %>
      </p>

      <% if @weather[:status] == 200 %>
        <div>
          <%= image_tag(@weather[:icon_url]) %>
        </div>
        <strong>The current weather in <%= @random_place.location %> is: </strong><span><%= @weather[:description] %>. The temperature is: <%= @weather[:temperature] %>&deg;F.</span>
      <% else %>
        <p>The current weather in <%= @random_place.location %> is not available right now. Sorry!</p>
      <% end %>

      <p>
        <strong>From User:</strong>
        <%= @user.name %>
      </p>

    </div>
  </div>
</div>