<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-10">
    <div class="place">
      <h3>
        <%= @place.location %>
      </h3>


      <%= image_tag(@place.image_url, class: 'list_image') %>


      <p>
        <strong>Visit length:</strong>
        <%= @place.visit_length %>
      </p>

      <p>
        <strong>Favorite memory:</strong>
        <%= @place.favorite_memory %>
      </p>

      <% if @weather[:status] == 200 %>
        <div>
          <%= image_tag(@weather[:icon_url]) %>
        </div>
        <strong>The current weather in <%= @place.location %> is: </strong><span><%= @weather[:description] %>. The temperature is: <%= @weather[:temperature] %>&deg;F.</span>
      <% else %>
        <p>The current weather in <%= @place.location %> is not available right now. Sorry!</p>
      <% end %>
    </div>
  </div>
</div>

<p>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
</p>
