<p id="notice"><%= notice %></p>

<h3>
  <%= @place.location %>
</h3>

<%= image_tag(@place.image_url, class: 'list_image') %>


<p>
  <strong>Visit length:</strong>
  <%= @place.visit_length %>
</p>

<p>
  <strong>Favorite memory:</strong>
  <%= @place.favorite_memory %>
</p>

<% if @json["cod"] == 200 %>
  <div>
    <%= image_tag(@icon_url) %>
  </div>
  <strong>The current weather in <%= @place.location %> is: </strong><span><%= @description %>. The temperature is: <%= @temperature %>&deg;F.</span>
<% else %>
  <p>The current weather in <%= @place.location %> is not available right now. Sorry!</p>
<% end %>

<p>
<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
</p>
