<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
    <span><a href="/">Home</a> | </span>
    <% if !current_user %>
      <span><%= link_to 'Login', login_url %></span> | 
      <span><%= link_to 'Sign Up', new_user_url %></span>
    <% else %>
      <span><%= link_to 'Log Out', logout_url, :method => 'delete' %></span>
    <% end %>
  </div>
  <h1 id="banner">My Favorite Places</h1>
  <hr>
  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
